defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        /var/log/msmtp.log

account        gmail
host           smtp.gmail.com
port           587
from           {{ gmail_account }}
user           {{ gmail_account }}
password       {{ gmail_app_password }}

account default : gmail
